# Local Only
DISABLE_PERSISTENT_CONFIGS=true
ENVIRONMENT_TYPE=DEVELOPMENT

RESOURCE_PACK_URL=http://localhost:5007/resource-pack.zip
INTERNAL_RESOURCE_PACK_URL=http://resource_pack:80/resource-pack.zip

# Settings
DISABLE_MINECART_CRASH_FIX=true
DEV_MODE=true
DEV_MODE_REPORT_CRASH=false

# Env
ENVIRONMENT_GAMEMODE=COBBLEMON

# Redis
REDIS_CONFIG_HOST=redis
REDIS_CONFIG_PORT=6379
REDIS_CONFIG_PASSWORD=jKUfrtgLBE4nrL5dz2r6xjzABxQIfJ6L
REDIS_CONFIG_CHANNEL=dev
REDIS_CONFIG_TIMEOUT=5000
REDIS_CONFIG_WAIT_BEFORE_ITERATION=50
REDIS_CONFIG_ADDITIONAL_LISTEN_CHANNELS=""
REDIS_CONFIG_REDIS_ID="{hostname}"

# Database
LUCKPERMS_DATABASE_TYPE=PostgreSQL
LUCKPERMS_DATABASE_ADDRESS=postgres
LUCKPERMS_DATABASE_CONFIG_USERNAME=postgres
LUCKPERMS_DATABASE_CONFIG_PASSWORD=T5vvSLH0WFZAsRJNiL6ALXn1q6m6B46d

DATABASE_CONFIG_CONNECTION_URL=jdbc:postgresql://postgres:5432/core
DATABASE_CONFIG_USERNAME=postgres
DATABASE_CONFIG_PASSWORD=T5vvSLH0WFZAsRJNiL6ALXn1q6m6B46d
DATABASE_CONFIG_DRIVER=org.postgresql.Driver
DATABASE_CONFIG_DIALECT=org.hibernate.dialect.PostgreSQLDialect
DATABASE_CONFIG_DEBUG=false
DATABASE_CONFIG_BATCH_SIZE=50
DATABASE_CONFIG_BATCH_INTERVAL_MS=2500

# S3
S3CONFIG_ACCESS_KEY=679e99a05d9a4672b4ad80f415656833
S3CONFIG_SECRET_KEY=1570652c5b124ce0a4b9538881be9487
S3CONFIG_BUCKET=mmorealms-cobblemon-realms-dev
S3CONFIG_ENDPOINT_URL=https://s3.de.io.cloud.ovh.net/
S3CONFIG_REGION=de
S3CONFIG_BACKUP_PATH_PREFIX=DISABLED
S3CONFIG_FORCE_PATH_STYLE_ACCESS=false

# Discord
JDA_LINKING_TOKEN=DISABLED
JDA_CHAT_TOKEN=DISABLED

# Testing Framework
SERVER_PRIVATE_KEY=DISABLED
