DISABLE_MINECART_CRASH_FIX=true
DISABLE_PERSISTENT_CONFIGS=true # Enable to reset the .live files on every reboot of the server
DEV_MODE=true
DEV_MODE_REPORT_CRASH=false

ENVIRONMENT_TYPE=DEVELOPMENT
ENVIRONMENT_GAMEMODE=COBBLEMON

REDIS_CONFIG_HOST=redis
REDIS_CONFIG_PORT=6379
REDIS_CONFIG_PASSWORD=PASSWORD
REDIS_CONFIG_CHANNEL=dev
REDIS_CONFIG_TIMEOUT=3600000
REDIS_CONFIG_WAIT_BEFORE_ITERATION=50
REDIS_CONFIG_ADDITIONAL_LISTEN_CHANNELS=""
REDIS_CONFIG_REDIS_ID="{hostname}"

DATABASE_CONFIG_CONNECTION_URL=jdbc:mariadb://mariadb:3306/core
DATABASE_PORT=5000
DATABASE_CONFIG_USERNAME=root
DATABASE_CONFIG_PASSWORD=PASSWORD
DATABASE_CONFIG_DRIVER=org.mariadb.jdbc.Driver
DATABASE_CONFIG_DIALECT=org.hibernate.dialect.MariaDBDialect
DATABASE_CONFIG_DEBUG=false

S3CONFIG_ACCESS_KEY=ACCESS_KEY
S3CONFIG_SECRET_KEY=SECRET_KEY
S3CONFIG_BUCKET=cobblemon-realms-dev
S3CONFIG_ENDPOINT_URL=https://s3.de.io.cloud.ovh.net/
S3CONFIG_REGION=de
S3CONFIG_BACKUP_PATH_PREFIX=.backup/

JDA_LINKING_TOKEN=DISABLED
JDA_CHAT_TOKEN=DISABLED
