public net.minecraft.server.PlayerAdvancements codec
public net.minecraft.server.PlayerAdvancements$Data
#public net.minecraft.server.PlayerAdvancements asData()Lnet.minecraft.server.PlayerAdvancements$Data;
#public net.minecraft.server.PlayerAdvancements applyFrom(Lnet.minecraft.server.ServerAdvancementManager;Lnet.minecraft.server.PlayerAdvancements$Data;)V
public net.minecraft.server.PlayerAdvancements applyFrom(Lnet/minecraft/server/ServerAdvancementManager;Lnet/minecraft/server/PlayerAdvancements$Data;)V # applyFrom
public net.minecraft.server.PlayerAdvancements asData()Lnet/minecraft/server/PlayerAdvancements$Data; # asData
#public net.minecraft.server.PlayerAdvancements m_294994_(Lnet/minecraft/server/ServerAdvancementManager;Lnet/minecraft/server/PlayerAdvancements$Data;)V # applyFrom
#public net.minecraft.server.PlayerAdvancements m_295536_()Lnet/minecraft/server/PlayerAdvancements$Data; # asData
