[submodule "run/resource_pack"]
	path = run/resource_pack
	url = https://github.com/MMO-REALMS/resource-pack
[submodule "additional_scripts/rir-aggregation"]
	path = additional_scripts/rir-aggregation
	url = https://github.com/MMO-REALMS/ip-aggregation
